extends layout/main

block content 
    .formWrapper
        form(action=`${routes.user}${routes.change_password}` method="post")
            input(type="password", name="password", placeholder="현재 비밀번호")
            input(type="password", name="newPassword", placeholder="새 비밀번호")
            input(type="password", name="newPassword1", placeholder="비밀번호 확인")
            input(type="submit", value="Change Password") 