extends layout/main

block content
    .formWrapper
        form(action=`${routes.edit_video(video.id)}`,method="post")
            input(type="text", name="title",placeholder="제목" value=video.title)
            textarea(name="description", placeholder="내용" )=video.description
            input(type="submit", value="수정")
        a.deleteVideo(href=`${routes.delete_video(video.id)}`) 
            button 삭제