extends layout/main

block content
    .formWrapper
        form(action=`${routes.user}${routes.edit_profile}`,method="post" ,enctype="multipart/form-data")
            label(for="avatar") 프로필 사진
            input(type="file", id="avatar", name="avatar" accept="image/*")
            input(type="text", placeholder="이름", name="name", value=loggedUser.name)
            input(type="email", placeholder="이메일", name="email", value=loggedUser.email)
            input(type="submit", value="수정")
                