.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      padding: 7px 5px;
      border-radius: 5px;
      width: 100%;
      max-width: 250px;
      margin: 10px 0;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.219);
      &[type="submit"] {
        color: white;
        max-width: 250px;
        border: none;
        background-color: #3498db;
        box-shadow: 2px 2px 5px 0px #3498db;
      }
    }

    // &:not(:last-child) {
    //   margin-bottom: 15px;
    // }
  }
}
