.social-login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: none;

  :not(:last-child) {
    margin-bottom: 10px;
  }
  .social-login--github {
    padding: 5px;
    width: 100%;
    max-width: 250px;
    box-shadow: 2px 2px 5px 0px black;

    border-radius: 3px;
    background-color: black;
    a {
      color: white;
    }
  }
  .social-login--facebook {
    padding: 5px;
    width: 100%;
    max-width: 250px;
    background-color: #4267b2;
    box-shadow: 2px 2px 5px 0px #4267b2;

    border-radius: 3px;
    a {
      color: white;
    }
  }
  span {
    margin-right: 5px;
  }
}
