.header {
  padding: 5px 0px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  background-color: white;
  .header__menu {
    grid-column: 1 / 2;
    .menu {
      padding-left: 25px;
      div {
        width: 24px;
        height: 3px;
        background-color: gray;
        margin: 4px 0;
      }
    }
  }
  .header__icon {
    grid-column: 2 / 5;
    i {
      font-size: 36px;
      background-size: 100%;
      color: red;
    }
  }
  .header__search {
    grid-column: 5 / 9;
    input {
      width: 80%;
    }
  }
  .header__client {
    grid-column: 9 / 13;
    li {
      float: left;
      a {
        color: black;
        font-weight: 300;
        padding: 5px;
        &:hover {
          color: gray;
        }
      }
    }
  }
}
