.home__wrapper {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  .menu {
    grid-column: 1 / 2;
  }

  .videos {
    background-color: #f0eeeee7;
    padding: 20px;
    grid-column: 2 / 13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .videoContainer {
      .video__thumbnail {
        width: 100%;
      }
      .video__title {
        color: #000;
      }
      .video__views {
        font-size: 15px;
        color: gray;
      }
    }
  }
}
