@import "./config/reset.scss";
@import "./partials/form.scss";
@import "./partials/main.scss";
@import "./partials/header.scss";
@import "./page/home.scss";
@import "./page/videoDetail.scss";
@import "./page/editVideo.scss";
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
input[type="submit"] {
  cursor: pointer;
}
input,
textarea {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
}

input:focus,
textarea:focus {
  border: 1px solid rgba(81, 203, 238, 1);
}
