.formWrapper {
  textarea {
    width: 100%;
    max-width: 250px;
  }
  .deleteVideo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      color: white;
      width: 100%;
      max-width: 250px;
      padding: 7px 5px;
      border: none;
      border-radius: 5px;
      background-color: #5f5f5f6c;
      box-shadow: 2px 2px 5px 0px #5f5f5f6c;
    }
  }
}
