.video__player {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-top: 56.25%;
  margin-bottom: 20px;
  video {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1200px;
  }
}
.video__info {
  a {
    font-size: 16px;
    color: black;
    button {
      padding: 5px;
    }
  }
  hr {
    border-top: 1px solid #dadada;
  }
  .video__title {
    font-size: 20px;
    font-weight: 300;
  }
  .video__views {
    font-size: 14px;
  }
  button,
  .video__title,
  .video__views,
  .video__description {
    margin-bottom: 15px;
  }
}
.video__author {
  a {
    color: #3498db;
  }
}
