mixin videoPlayer(video = {})
    .videoPlayer
        video(src=`../${video.url}` )
        .videoPlayer__controls 
            .videoPlayer__column
                span.volume-button
                    i.fas.fa-volume-up
                span
                    span.currentTime 00:00:00
                    |/
                    span.totalTime 00:00:)0
            .videoPlayer__column
                span.play-button
                    i.fas.fa-play
            .videoPlayer__column
                span.expand-button
                    i.fas.fa-expand
