.social-login
    button.social-login--facebook
        span
            i.fab.fa-github
        |continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |continue with Facebook
